.wrap_listing_action a{
	width: 30px;
	text-align: center;
	line-height: 30px;
	height: 30px;
	font-size: 18px;
	background-color: #007cba;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	transition: all .2s ease-out;
}
.wrap_listing_action a svg{
	height: 15px;
	width: 15px;
}
.wrap_listing_action a:hover{
	background-color: #0071a1;
	transition: all .2s ease-out;
}
.wrap_listing_action a + a{
	margin-left: 5px;
}
.wrap_listing_action a.btn_red{
	background-color: #a71e4a;
}
.wrap_listing_action a.btn_red:hover {
	background-color: #941a41;
}
.wrap_listing_list .listing_list_inner ul{
	margin: 0;
}
.wrap_listing_list .listing_list_inner ul li{
	display: flex;
	margin: 0;
}
.wrap_listing_list .listing_list_inner ul li span{
	display: block;
	padding: 15px 10px;
}
.wrap_listing_list .listing_list_inner ul li + li{
	border-top: 1px solid #dadada;
}
.wrap_listing_list .listing_list_inner ul li span:nth-of-type(1){
	width: 25%;
}
.wrap_listing_list .listing_list_inner ul li span:nth-of-type(2){
	width: 25%;
}
.wrap_listing_list .listing_list_inner ul li span:nth-of-type(3){
	width: 28%;
}
.wrap_listing_list .listing_list_inner ul li span:nth-of-type(4){
	width: 18%;
}
.wrap_listing_list .listing_list_inner ul li span:nth-of-type(5){
	width: 12%;
	text-align: center;
}
.wrap_mm_columns{
	margin: 0 -10px;
}
.wrap_listing_list{
	border: 1px solid #dadada;
}
.wrap_listing_list,
.wrap_description{
	float: left;
	width: 50%;
	max-width: 768px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
}
.wrap_listing_list .listing_list_inner ul li span input,
.wrap_listing_list .listing_list_inner ul li span select{
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 0;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.wrap_description_inner p{
	margin-top: 0;
	color: #888888;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 8px;
}

.wrap_listing_list .listing_list_inner ul li span input.error{
	border: 1px solid red;
}

#listing_list_app{
	position: relative;
}
#listing_list_app.preloader:before{
	content: "";
	background-color: #fff;
	opacity: 0.7;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#listing_list_app p.submit{
	padding-left: 15px;
	padding-right: 15px;
}
#listing_list_app h2{
	margin-bottom: 20px;
}
table.form-table.stm{
	width: 100%;
}
table.form-table.stm tr.stm_admin_listing_seller_note th {
	display: none;
}
table.form-table.stm tr.stm_admin_listing_seller_note textarea {
	width: 100%;
	min-height: 180px;
}
.wrap_listing_list .modal .label_clear_row{
	display: block;
	width: 100%;
	margin: 0;
	max-width: none;
}
.wrap_listing_list .modal .ml_description{
	font-size: 12px;
	color: #888;
	font-style: italic;
	line-height: 15px;
	margin-top: -10px;
}



@media(max-width:1600px){
	.wrap_description {
		width: 35%;
	}
	.wrap_listing_list {
		width: 65%;
	}
}
@media(max-width:1200px){
	.wrap_listing_list,
	.wrap_description {
		width: 100%;
	}
	.wrap_description {
		margin-top: 30px;
	}
}
@media(max-width:992px){
	.wrap_listing_list .listing_list_inner ul li span:nth-of-type(5) {
		width: 14%;
	}
}

@media(max-width:768px){
	.wrap_listing_list .listing_list_inner ul li{
		display: block;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 -5px;
		clear: both;
	}
	.wrap_listing_list .listing_list_inner ul li span{
		padding-left: 5px;
		padding-right: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
	}
	.wrap_listing_list .listing_list_inner ul li span:nth-of-type(1),
	.wrap_listing_list .listing_list_inner ul li span:nth-of-type(2),
	.wrap_listing_list .listing_list_inner ul li span:nth-of-type(4),
	.wrap_listing_list .listing_list_inner ul li span:nth-of-type(5){
		width: 50%;
	}
	.wrap_listing_list .listing_list_inner ul li span:nth-of-type(3){
		width: 100%;
	}
	.wrap_listing_list .listing_list_inner ul li span input, .wrap_listing_list .listing_list_inner ul li span select{
		max-width: none;
	}
	.wrap_listing_action a{
		width: 65px;
		line-height: 40px;
		height: 40px;
	}
	.wrap_listing_list .listing_list_inner ul li + li{
		padding-top: 30px;
	}
}
