.wrap_listings_list {
	margin-top: 40px;
}

.wrap_listings_list > h1{

}
.wrap_listings_list ul.wrap_listings_list_inner{
	list-style: none;
	padding: 0;
	margin: 0 -15px 40px;
}
.wrap_listings_list ul.wrap_listings_list_inner li{
	display: block;
	padding: 15px;
	width: 25%;
	float: left;
}
.wrap_listings_list ul.wrap_listings_list_inner li a{
	display: block;
	border: 1px solid #dadada;
	background-color: #fafafa;
	padding: 15px;
	min-height: 150px;
	text-decoration: none;
	color: #909090;
	text-align: center;
	font-size: 15px;
	transition: all .2s ease-out;
}
.wrap_listings_list ul.wrap_listings_list_inner li a:hover{
	transition: all .2s ease-out;
	background-color: #e2e1e1;
}
.wrap_listings_list ul.wrap_listings_list_inner li a span{

}
.wrap_listings_list ul.wrap_listings_list_inner li a i{
	display: block;
	margin-top: 15px;
	font-size: 40px;
	margin-bottom: 20px;
}
