/* Базовый контейнер табов */
.tabs {
	min-width: 320px;
	padding: 0px;
	margin: 0 auto;
}
/* стили секций с содержанием */
section {
	display: none;
	padding: 15px;
	background: #fff;
	border: 1px solid #ddd;
}
section > .row{
	box-shadow: 0 0px 2px rgba(0,0,0,0.25);
	border-radius: 5px;
	overflow: hidden;
	padding: 15px 10px;
	background: #fff;
}
section > .row .caption{
	font-size: 16px;
	font-weight: bold;
	margin: 15px 0 10px;
}
.tabs > input {
	display: none;
}
/* стили вкладок (табов) */
.tabs > label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #aaa;
	border: 1px solid #ddd;
	background: #f1f1f1;
	border-radius: 3px 3px 0 0;
}
/* шрифт-иконки от Font Awesome в формате Unicode */
.tabs > label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}
.tabs > label > i {
	margin: 0 5px;
	color: #888;
	font-size: 14px;
	vertical-align: middle;
}

/* изменения стиля заголовков вкладок при наведении */
.tabs > label:hover {
	color: #888;
	cursor: pointer;
}
/* стили для активной вкладки */
.tabs > input:checked + label {
	color: #555;
	border: 1px solid #ddd;
	border-top: 1px solid #009933;
	border-bottom: 1px solid #fff;
	background: #fff;
}
.tabs > input:checked + label i{
	color: #009933;
}
/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
	display: block;
}

.add-listing-endpoint input{
	min-width: 250px;
}

.fade {
	opacity: 0;
	transition: opacity .15s linear;
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
	padding-right: 15px;
	opacity: 1;
}
.modal-dialog {
	position: relative;
	width: auto;
	pointer-events: none;
	max-width: 500px;
	margin: 1.75rem auto;
	transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out,-webkit-transform .3s ease-out;
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
	box-shadow: 0 0 40px rgba(0,0,0,0.2);
}
.modal-content {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: .3rem;
	outline: 0;
}
.modal-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 1px solid #e9ecef;
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;
}
.modal-title {
	margin-bottom: 0;
	line-height: 1.5;
	font-size: 1.25rem;
	margin-top: 0;
}
.modal-header .close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
	padding: 1rem;
	margin: -1rem -1rem -1rem auto;
	cursor: pointer;
}
.modal-body {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1rem;
}
.modal-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 1rem;
	border-top: 1px solid #e9ecef;
}

.modal-body input[type='text'],
.modal-body select{
	width: 100%;
	max-width: none;
}
.separate_paragraph + .separate_paragraph{
	border-top: 1px solid #dadada;
	margin-top: 20px;
}

@media (min-width: 768px){
	.modal-dialog {
		width: 600px;
		margin: 100px auto;
	}
}

@media screen and (max-width: 680px) {
	.tabs > label {
		font-size: 0;
	}

	.tabs > label:before {
		margin: 0;
		font-size: 18px;
	}
}
@media screen and (max-width: 400px) {
	.tabs > label {
		padding: 15px;
	}
}
